server:
  port: 8080

spring:
  application:
    name: shopping
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
        jdbc:
          time_zone: Asia/Seoul
    show_sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USER_NAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  redis:
    host: localhost
    port: ${REDIS_PORT}

jwt:
  secret: ${kt.jwt.secret:kt-cloud-tech-up-shopping-202511171107}
  access-token-expiration: ${kt.jwt.access-token-expiration:300000}
  refresh-token-expiration: ${kt.jwt.refresh-token-expiration:43200000}
