<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
<div style="width: 100%; background-color: #fff; text-align: center;">
    <div style="display: inline-block;">
        <div style="font-size: 36px; font-weight: 500; color: #202d37; text-align: center;">
            <p>${subject}</p>
        </div>
        <div style="margin-top: 40px; font-size: 16px; color: #44515c;">
            <div style="border-radius: 0.125rem; background-color: #f7f7f9; padding: 40px;">
                <p style="margin: 0; text-align: center; font-size: 18px; color: #758592;">
                    ${titleSubject}
                </p>
                <p style="margin: 0; margin-top: 24px; text-align: center; font-size: 36px; letter-spacing: 0.1em; color: #000;">
                    ${tempCode}
                </p>
            </div>
        </div>
        <div style="margin-top: 40px; font-size: 16px; color: #44515c; text-align: center;">
            <div>
                <p>안녕하세요 TECHUP-Shopping(테크업 전자상거래) 입니다.</p>
            </div>
            <div style="margin-top: 20px;">
                <p>
                    ${notice}
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>

